* p {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.th-light {
  background: white;
}

.th-dark {
  background: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body {
  background-color: #131316;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #2F2F37;
}

body::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1280px;
  display: flex;
  background-color: #131316;
}

.test {
  width: 200px;
}
