.main {
    opacity: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    min-height: 64px;
}

.name {
    margin: 0;
}

.info {
    list-style-type: none;

    display: flex;
    justify-content: space-between;

    padding: 0;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-spacing: -8px;
}